* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	min-height: 100%;
	font-size: calc(18px + 6*(100vw - 420px)/1200);
}

body {
  height: 100%;
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: .1rem;
    text-decoration-thickness: .12rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}