* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
  font-size: var(--font-root);
  background: var(--color-background);
}

body {
  height: 100%;
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 0.04em;
    text-decoration-thickness: var(--border-width);
  }
}

p {
  font-size: var(--font-s);
  line-height: 1.2;
  margin-top: 0;

  a {
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 0.04em;
    text-decoration-thickness: var(--border-width);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

.content {
  h2 {
    font-size: var(--font-l);
    margin-bottom: 1rem;
  }
}

main {
  position: relative;
  z-index: 1;
}