@import url("https://use.typekit.net/exv3fkn.css");

:root {
  --font-sans: 'neue-haas-grotesk-display', helvetica, arial, sans-serif;

  --font-s: .8rem;
  --font-m: 1rem;
  --font-l: 1.4rem;
  --font-xl: 1.3rem;

  --spacing-m: .8rem;
  --border-width: .12em;

  // colors
  --color-black: #111;
  --color-white: #eee;

  // 2022
  --color-green: #A5B455;
  --color-lightgray: #EBEBEB;
  --color-darkgray: #646464;

  // 2023
  --color-yellow: #B2A13A;
  --color-darkgray: rgba(0, 0, 0, .5);
}

body {
  --color-background: var(--color-yellow);
  --color-text: var(--color-black);
  --color-highlight: var(--color-white);
}

@media (max-width: 800px) {
  :root {
    --font-l: 1.2rem;
    --font-m: 1rem;
    --spacing-m: .6rem;
  }
}

@media (max-width: 600px) {
  :root {
    --font-l: 1rem;
    --font-m: .9rem;
    --font-s: .6rem;
    --spacing-m: .4rem;
  }
}