@import url("https://use.typekit.net/exv3fkn.css");

:root {
  --font-sans: 'neue-haas-grotesk-display', helvetica, arial, sans-serif;

  --font-root: calc(22px + 6 * (100vw - 420px) / 1200);
  --font-s: .8rem;
  --font-m: 1rem;
  --font-l: 1.4rem;
  --font-xl: 1.3rem;

  --spacing-m: .8rem;
  --border-width: .12em;

  // colors
  --color-black: #111;
  --color-white: #fff;

  // 2022
  --color-green: #A5B455;
  --color-lightgray: #EBEBEB;
  --color-darkgray: #646464;

  // 2023
  --color-yellow: #B2A13A;
  --color-darkgray: rgba(0, 0, 0, .5);

  // 2024
  --color-red: #922A29;
  --color-blue: #1F286F;
  --font-l: 1.2rem;

  // 2026
  --color-orange: #DC5A27;
  --color-gray: #797B82;

}

body {
  --color-background: var(--color-gray);
  --color-text: var(--color-white);
  --color-highlight: var(--color-white);
}

@media (max-width: 800px) {
  :root {
    --font-l: 1.2rem;
    --font-m: 1rem;
    --spacing-m: .6rem;
  }
}

@media (max-width: 600px) {
  :root {
    --font-root: calc(21px + 6 * (100vw - 420px) / 1200);
    --font-l: 1rem;
    --font-m: .8rem;
    --font-s: .7rem;
    --spacing-m: .4rem;
  }
}