@import url("https://use.typekit.net/exv3fkn.css");

:root {
  --font-sans: 'neue-haas-grotesk-display', helvetica, arial, sans-serif;

  --font-s: .8rem;
  --font-l: 1.4rem;

  --border-width: .12em;

  // colors
  --color-green: #A5B455;
  --color-lightgray: #EBEBEB;
  --color-darkgray: #646464;
  --color-black: #111;
  --color-white: #eee;
}

body {
  --color-background: var(--color-lightgray);
  --color-text: var(--color-black);
  --color-highlight: var(--color-green);
}

@media (max-width: 800px) {
  :root {
    --font-l: 1.2rem;
    --font-s: 18px;
  }
}
@media (max-width: 600px) {
  :root {
    --font-l: 1rem;
    --font-s: 16px;
  }
}